<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="google-site-verification" content="rAc7qMRwAt8JxtCAiwLYh4u1b77W9izWsmI318iS0u0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Navid Rashidian - $title$</title>
        <link rel="stylesheet" href="/css/default.css">
    </head>
    <body>
        <header>
            <h1 class="page-title">$title$</h1>
            <hr>
        </header>

        <main>
            $body$
        </main>

        $partial("templates/return-home.html")$
    </body>
</html>
